*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    max-width: 100%;
    overflow-x: hidden;
}


/* =============================Home Section==================================== */

.header{
    width: 100%;
    background: #0000007a;
}

.navbar{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.logo{
    
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: px;
}
.logo h3{
    line-height: 1.2;
    font-size: 2rem;
    color: gold;
    margin-left: 20px;
    text-shadow: 5px 5px 5px black;
}
.logo p{
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
}
.logo img{
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 0 12px #9bcaf5;
}


.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
    position: absolute;
    right: 80px;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 4px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.99);
}
.nav-links a:hover{
    cursor: pointer;
    background-color: #d3d8dd42;
}

.menu-toggle{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}



@media (max-width: 768px){

    .menu-toggle{
        display: block;
        position: fixed;
        right: 10px;
    }

    .nav-links{
        position: fixed;
        top: 80px;
        right: 0;
        background: #253442;
        width: 200px;
        
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        display: none;
    }

    .nav-links.show{
        display: flex;
    }
}

.home{
    width: 100%;
    height: 100vh;
    background-image: url("./images/rest2.png");
    filter: brightness(70%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home h1{
    color: white;
    line-height: 1.3;
    font-size: 3rem;
    font-weight: 500;
    font-family: cursive;
    text-align: center;
    padding-top: 520px;
    margin-bottom: 60px;
    text-shadow: 4px 3px 4px black;
    filter: brightness(100%);
}
.home button{
    padding: 10px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid gold;
    color: rgb(255, 222, 35);
    margin-top: 20px;
    filter: brightness(100%);
}
.home button:hover{
    background-color: goldenrod;
    cursor: pointer;
    color: black;
}


/* ========================Body Section========================= */

.restaurants{
    background-color: rgb(85, 84, 84);
    padding: 50px;
}
.starters{
    background-color: rgba(60, 59, 59, 0.874);
    padding: 10px 0;
    border-radius: 50px;
    margin-bottom: 50px;
}
.starters h1{
    margin-left: 50px;
    margin-top: 10px;
    color: goldenrod;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.651);
}
.break{
    width: 98%;
    height: 2px;
    box-shadow: 10px 10px 5px black;
}
.starter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 40px;
    padding: 40px 50px;
}
.one img{
    height: 250px;
    border-radius: 10% 10% 0 0 ;
    width: 100%;
}
.one{
    border: 4px solid goldenrod;
    border-radius: 10%;
    background-color: white;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
}
.one h3{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.4rem;
    color: black;
}
.one p{
    margin-left: 10px;
    margin-top: 10px;
    color: black;
}
.one button{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 90%;
    padding: 10px 0;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    background-color: gold;
}
.one button:hover{
    cursor: pointer;
    background-color: goldenrod;
}


/* =========================Reveal=========================== */

.reveal {
    
    opacity: 0;
    transform: translateX(80px);
    transition: all 1s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateX(0);
}


/* ====================================Arrow======================= */

.home-arrow {
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: transparent;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    border: 4px solid gold;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
    z-index: 1000;
}

.home-arrow:hover {
    background: #444;
    transform: scale(1.1);
}

.booking{
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 200px;
    height: 50px;
    background: transparent;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    border: 4px solid gold;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
    z-index: 1000;
    padding: 10px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 1px solid gold;
    color: gold;
    margin-top: 20px;
}
.booking:hover{
    background-color: goldenrod;
    cursor: pointer;
    color: black;
}


/* ============================Order-section====================== */

.orders{
    background-color: rgb(85, 84, 84);
    width: 100%;
    border-top: 1px solid black;
}
.order-section{
    display: flex;
    justify-content: space-between;
}
.left{
    background-color: rgba(60, 59, 59, 0.874);
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 30px 50px;
    border-radius: 50px;
    width: 50%;
}
.order{
    display: none;
}
.order-title h1{
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}
.order-items{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    padding: 10px 0;
}
.order-items h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: goldenrod;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.374);
}
.order-btn{
    font-size: 1rem;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid gold;
    color: goldenrod;
    /* text-shadow: 5px 5px 5px black; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.262);
}
.order-items select{
    padding: 5px;
    font-size: 0.9rem;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid gold;
    color: goldenrod;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.262);
    
}
.order-items option{
    color: goldenrod;
    background-color: rgba(40, 39, 39, 0.874);
}

.order-btn:hover{
    cursor: pointer;
}
.order-items select:hover{
    cursor: pointer;
}

.right{
    background-color: rgba(60, 59, 59, 0.874);
    
    margin-right: 90px;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 30px 50px;
    border-radius: 50px;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.right h1{
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}
.right table{
    margin-top: 10px;
}
.right th{
    padding: 0 70px;
    padding-left: 0;
    color: white;
}
.right h3{
    /* margin-top: 300px; */
    border-top: 1px solid black;
    color: white;
}
.container{
    flex: 1;
    color: gold;
}


.qty-btn {
    padding: 2px 8px;
    margin: 0 4px;
    border: none;
    background: transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
}

.qty-btn:hover {
    background: #222;
}

.remove-btn {
    padding: 3px 8px;
    border: none;
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.total-box {
    position: absolute;
    bottom: 40px;
    font-size: 1.4rem;
    border-top: 2px solid #000;
    padding-top: 10px;
}


.lower{
    border-top: 1px solid black;
    display: grid;
}
.lower label{
    color: goldenrod;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.374);
}
.lower input{
    width: 80%;
    margin-left: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid gold;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
}
.lower select{
    width: 80%;
    margin-left: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid gold;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}
.lower option{
    background-color: rgba(41, 40, 40, 0.874);
}
.lower select:hover{
    cursor: pointer;
}
.submit-btn{
    margin-top: 10px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: gold;
    border: 1px solid gold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}
.submit-btn:hover{
    cursor: pointer;
}


/* =======================Reveals==================== */

.reveals{
    opacity: 0;
    transform: scale(0.8);
    transition: all 1s ease-out;
}
.reveals.active{
    opacity: 1;
    transform: scale(1);
}




/* ===========================Media Query============================ */

@media (max-width: 768px) {
    .logo h3{
        font-size: 1.2rem;
    }
    .logo img{
        height: 50px;
        width: 50px;
    }
    .logo{
        margin-left: -40px;
    }
    .home h1{
        font-size: 2rem;
    }
    .home button{
        font-size: 1rem;
    }
    .restaurants{
        padding: 20px 10px;
    }
    .starter {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        gap: 20px;
    }

    .starters h1 {
        margin-left: 20px;
        font-size: 1.5rem;
    }
    .one h3{
        font-size: 1.2rem;
    }

    .orders{
        padding: 20px 10px;
    }
    .order-section{
        display: flex;
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
        margin-left: 0;
    }
    .order-title{
        font-size: 1.5rem;
    }
    .order-items h3{
        font-size: 1.3rem;
    }
    
    .order-btn, .order{
        font-size: 0.8rem;
    }
    .right h1{
        font-size: 1.7rem;
        padding-bottom: 10px;
    }
    .contact-section{
        padding: 40px;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
    }
    .contact-title h2{
        font-size: 1.5rem;
    }
    .info p{
        margin-bottom: 30px;
        font-size: 1rem;
    }
    .info h4{
        font-size: 1rem;
    }
    .contact-title h2{
        font-size: 1.7rem;
    }
    .footer-content h4{
        font-size: 1.1rem;
    }
    .footer-content p{
        font-size: 1rem;
    }
    .social-links{
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .footer-bottom{
        font-size: 1rem;
    }
}

#name{
    margin-left: 35px;
}
#email{
    margin-left: 36px;
}
#phone{
    margin-left: 31px;
}
#address{
    margin-left: 20px;
}

@media (max-width: 560px){
    .lower label{
        display: block;
        margin-top: 10px;
    }
    .lower input{
        width: 100%;
        margin-left: 0;
    }
    #name, #email, #phone, #address{
        margin-left: 0;
    }
    .submit-btn{
        margin-top: 30px;
    }
    .right th{
    padding: 0 40px;
    padding-left: 0;
    color: white;
    }
    .remove-btn{
        font-size: 0.5rem;
    }
    .qty-btn{
        padding: 0 1px;
        font-size: 1rem;
    }
    .home-arrow{
        font-size: 1rem;
        padding: 0;
        border: 2px solid gold;
        width: 30px;
        height: 30px;
        right: 10px;
    }
    .booking {
        font-size: 1rem;
        padding: 5px 0;
        right: 10px;
        width: 100px;
        height: 40px;
    }
    .contact-info{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 540px){
    .order-items{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .starter {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 20px;
    }

    .starters {
        border-radius: 20px;
        padding: 10px 0;
    }

    .starters h1 {
        margin-left: 15px;
        font-size: 1.5rem;
    }
    .contact-section{
        padding: 40px;
    }
    .contact-info{
        display: grid;
        grid-template-columns: 1fr;
    }
    .info p{
        margin-bottom: 30px;
        font-size: 0.8rem;
    }
    .info h4{
        font-size: 1rem;
    }
    .contact-title h2{
        font-size: 1.7rem;
    }
    .footer-content h3{
        font-size: 1rem;
    }
    .footer-content p{
        font-size: 0.8rem;
    }
    .footer-content li a{
        font-size: 0.8rem;
    }
    .social-links{
        font-size: 0.7rem;
        margin-bottom: 30px;
    }
    .footer-bottom{
        font-size: 0.8rem;
    }
}




/* ===========================Contact Section======================== */

.contact{
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #1c2934;
    color: white;
    border-bottom: 1px solid white;
}
.contact-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 55;
    font-family: cursive;
    color: white;
    margin-bottom: 2rem;
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info h4{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: white;
}
.info p{
    opacity: 0.8;
    margin-bottom: 1rem;
}

.map-section {
    width: 100%;
    padding: 20px 40px;
    /* background-color: red; */
}

.map-section iframe {
    width: 80%;
    border: 4px solid gold;
    border-radius: 10px;
    display: block;
}

.information{
    display: flex;
    flex-direction: column;
    padding: 70px 240px;
}

@media(max-width: 700px){
    .contact-info{
        display: flex;
        flex-direction: column;
    }
    .information{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .map-section iframe{
        width: 100%;
    }
    .map-section{
        width: 100%;
        padding: 0;
    }
    .contact-title h2{
        font-size: 2rem;
    }
    .info h4{
        font-size: 1rem;
    }
    .map-section h2{
        font-size: 1.1rem;
    }
}


/* ============================Footer Section */

.footer{
    background-color: #253442;
    background-color: black;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.footer-contents{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding-left: 10%;
    gap: 2rem;
}
.footer-content h3{
    margin-bottom: 0rem;
}
.footer-content p{
    opacity: 0.8;
}
.footer-content ul{
    list-style: none;
}
.footer-content li{
    margin-bottom: 1rem;
    opacity: 0.8;
}
.footer-content a{
    text-decoration: none;
    color: white;
}

.social-links a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: transparent;
    border-radius: 5px;
    margin-left: 10px;
}
.social-links a:hover{
    text-shadow: 2px 2px 2px black;
}
.footer-bottom{
    text-align: center;
    border-top: 1px solid #4c5b69;
}
.footer-bottom p{
    margin-top: 1rem;
}
