*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}

.services{
    background-color: rgb(59, 58, 58);
}
.services h1{
    text-align: center;
    padding-top: 40px;
    font-size: 3rem;
    font-family: cursive;
    color: rgb(219, 159, 9);
    text-shadow: 5px 5px 4px black;
}
.service-bottom1{
    width: 5%;
    height: 2px;
    background-color: gold;
    margin-left: 720px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px black;
}
.service-bottom2{
    width: 13.5%;
    height: 2px;
    background-color: gold;
    margin-left: 660px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px black;
}




/* ========================Banquet==================== */

.banquet{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    padding: 0 200px;
}
.banquet-img img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    border: 4px solid gold;
    box-shadow: 10px 10px 40px black;
}
.banquet-contents{
    margin-left: 80px;
}
.banquet-contents h2{
    font-size: 2rem;
    line-height: 1.3;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px black;
}
.banquet-contents p{
    color: white;
    opacity: 0.8;
}
.banquet-contents button{
    padding: 12px 40px;
    background-color: goldenrod;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 20px black;
    transition: background-color 0.3s ease-in-out;
}
.banquet-contents button:hover{
    cursor: pointer;
    background-color: gold;
}

.break{
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background-color: rgb(111, 110, 110);
    margin-top: 150px;
    box-shadow: 5px 5px 5px black;
}




/* ==================================Conference======================= */

.conference{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    padding: 0 200px;
}
.conference-img img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    border: 4px solid gold;
    margin-left: 110px;
    box-shadow: 10px 10px 40px black;
}
.conference-contents{
    margin-left: 40px;
}
.conference-contents h2{
    font-size: 2rem;
    line-height: 1.3;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px black;
}
.conference-contents p{
    color: white;
    opacity: 0.8;
}
.conference-contents button{
    padding: 12px 40px;
    background-color: goldenrod;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 20px black;
    transition: background-color 0.3s ease-in-out;
}
.conference-contents button:hover{
    cursor: pointer;
    background-color: gold;
}



/* ===================================Pool====================== */

.pool{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    padding: 0 200px;
}
.pool-img img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    border: 4px solid gold;
    box-shadow: 10px 10px 40px black;
}
.pool-contents{
    margin-left: 80px;
}
.pool-contents h2{
    font-size: 2rem;
    line-height: 1.3;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px black;
}
.pool-contents p{
    color: white;
    opacity: 0.8;
}
.pool-contents button{
    padding: 12px 40px;
    background-color: goldenrod;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 20px black;
    transition: background-color 0.3s ease-in-out;
}
.pool-contents button:hover{
    cursor: pointer;
    background-color: gold;
}




/* ================================================Gym====================== */

.gym{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    padding: 0 200px;
}
.gym-img img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    border: 4px solid gold;
    margin-left: 110px;
    box-shadow: 10px 10px 40px black;
}
.gym-contents{
    margin-left: 40px;
}
.gym-contents h2{
    font-size: 2rem;
    line-height: 1.3;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px black;
}
.gym-contents p{
    color: white;
    opacity: 0.8;
}
.gym-contents button{
    padding: 12px 40px;
    background-color: goldenrod;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 20px black;
    transition: background-color 0.3s ease-in-out;
}
.gym-contents button:hover{
    cursor: pointer;
    background-color: gold;
}


/* ===================Reveals================= */

.reveals{
    opacity: 0;
    transform: scale(0.7);
    transition: all 1s ease-out;
}
.reveals.active{
    opacity: 1;
    transform: scale(1);
}


/* ====================================Arrow======================= */
.home-arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: transparent;
    color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    border: 4px solid gold;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
    z-index: 1000;
}

.home-arrow:hover {
    background: #444;
    transform: scale(1.1);
}




/* =====================Media Query======================== */

@media (max-width: 1220px){
    .banquet,
    .pool,
    .gym,
    .conference{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media(max-width: 770px){
    .service-bottom1{
        margin-left: 360px;
    }
    .service-bottom2{
        margin-left: 330px;
    }
    .banquet,
    .pool,
    .gym,
    .conference{
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .conference-img img,
    .gym-img img{
        margin-left: 0;
        margin-top: 80px;
    }
    .conference,
    .gym{
        margin-top: 20px;
    }

}
@media(max-width: 600px){
    .service-bottom1{
        margin-left: 280px;
    }
    .service-bottom2{
        margin-left: 255px;
    }
}
@media(max-width: 490px){
    .service-bottom1{
        margin-left: 230px;
    }
    .service-bottom2{
        margin-left: 210px;
    }
    .services h1{
        font-size: 2.2rem;
    }
    .banquet-contents h2,
    .conference-contents h2,
    .pool-contents h2,
    .gym-contents h2{
        font-size: 1.5rem;
    }
    .btn button{
        font-size: 1rem;
        padding: 10px 20px;
    }
    .banquet,
    .pool,
    .gym,
    .conference{
        padding: 10px;
    }
}